.footer {
    background-color:#0D0F49;
    display: flex;
    height: 100px;
    width: 100%;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .footer a {
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding-left: 30px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .footer a:hover {
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
  }
  