.header {
    align-items: center;
    background: white;
    display: flex;
    height: 100px;
    justify-content: space-around;
    top: 10px;
    width: 100%;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .logo{
    text-align: left;  
    height: 100%;
    border-radius: 50px;
    display: block;
  }

  .cartIcon{
    text-align: left;  
    height: 60%;
    display: block;
    color:red;
    font-size: 40px;

    img{
      height: 100%;
    }
  }
 
  input.form-control.mr-sm-2{
    border: 2px solid red;
  }
