.header {
    align-items: center;
    background: #42ce9f;
    color: white;
    display: flex;
    height: 100px;
    justify-content: center;
    top: 0px;
    width: 100%;
  }
  
  .logo{
    height: 80%;
    display: block;
    margin: 1rem auto rem 36rem;
  
  }