.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recommended-services {
  color: black;
  font-size: calc(10px + 2vmin);
  display: flex;
  justify-content: center;
  flex-grow: 0.5;

}


.btn-warning{
  display: flex;
  margin: 2rem auto 2rem;
}

.services{
  width: 20rem;
  height: 28rem;
  border: .3rem; 
  padding: .3rem;
}

.recommended-services_list{
  height: 30rem;
}

.col{
  flex-basis: 0;
  flex-grow: .5;
  max-width: 100%;
}
