.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recommended-services {
  color: black;
  font-size: calc(10px + 2vmin);
  display: flex;
  justify-content: center;
  flex-grow: 0.5;
  font-family: Arial, Helvetica, sans-serif;

}


.btn-danger{
  display: flex;
  margin: 1rem auto 1rem;
}


.services{
  width: 18rem;
  height: 29rem;
  border: .3rem; 
  padding: .3rem;
}

.recommended-services_list{
  height: 30rem;
}

.col{
  flex-basis: 0;
  flex-grow: .5;
  max-width: 100%;
}

.input-group-btn{
  border-style: solid;
  background-color:#dc3545;
  border-color: transparent;
  border-radius: .3rem;
  padding: 0 48px;
  height: 44px;
  line-height: 42px;
  font-size: 16px;
  border-width: 1px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin: 0rem 0rem 1rem 0rem;
  a:link, a:visited, a:active {
    color: white;
    text-decoration:none;
    
}
}

.price{
  font-size: 24px;
  font-weight: 700;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 0;
}

.details{
  display: flex;
  flex-direction: column;
  align-items: center;
}